*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* borders and paddings are not added to the width and the height */
}

html{
  font-size: 62.5%;
}

body{
  box-sizing: border-box;
}